body{
    background:url(./Images/tom-gainor-ZqLeQDjY6fY-unsplash.jpg) no-repeat ;
    object-fit: cover;
    font-family: Goudy Old Style;
    background-position: center;
}
header
{
    min-height: 3.4em;
    border: #e893a7 5px solid;
    border-radius: 1em;
}
header #branding
{
    font-size: 1em;
    font-weight: bold;
    display:inline-block;
}

header nav
{
    float: right;
    font-size: 1.11em;
    margin-top: 1.3em;
}
header li{
    float: left;
}
.container2{
    float: left;
    width: 35em;
    background-color: #e893a7;
    margin-top: 1.5em;
    margin-left: 1em;
    text-align: center;
    border-radius: 1em;
    box-shadow:white 0.5em 0.5em 1em ;
}

#map{
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 1em;
    box-shadow:#e893a7 0.5em 0.5em 1em ;
    float: left;
}

#image1{
    float: right;
    width: 35%;
    object-fit: cover;
    background-position: center;
    margin-right: -20%;
    margin-top:-63%;
    border-radius: 1em;
    border: 0.3em groove #C4A4B4;
    object-fit: cover;
}
#image2{
    float: right;
    width: 35%;
    object-fit: cover;
    background-position: center;
    border-radius: 1em;
    margin-right: -20%;
    margin-top:-35%;
    border: 0.3em groove #C4A4B4;
    object-fit: cover;
}
#image3{
    float: right;
    width: 35%;
    object-fit: cover;
    background-position: center;
    margin-right: -20%;
    border-radius: 1em;
    margin-top: -5%;
    border: 0.3em groove #C4A4B4;
    object-fit: cover;
}
#image4{
    float: right;
    width: 55%;
    object-fit: cover;
    background-position: center;
    margin-right: 40%;
    border-radius: 1em;
    margin-top: -15%;
    border: 0.3em groove #C4A4B4;
    object-fit: cover;
}
footer{
    border: solid  #e893a7 5px;
    height: 3em;
    border-radius: 1em;
    margin-top: 65em;
    text-align: center;
}
.container3{
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    float: left;
}