body
{
   width: 100%;
}
header
{
   border-top: #e893a7 10px solid;
   border-bottom:#e893a7  10px solid;
   border-right: #e893a7  10px solid;
   border-left: #e893a7  10px solid;
   margin-top: -0.5em;
   margin-left:-0.5em;
   margin-right: 0.5em;
   background: url(./Images/BBPage/OG.jpg) no-repeat;
   background-size: cover;
   height: 400px;
   text-align: center;
}
.TextHeaderBox
{
   font-family: Goudy Old Style;
   display: inline-block;
   text-align: center;
   padding-top: 120px;
   color: white;
   font-weight: bold;
   font-size: 280%;
   text-shadow: 3px 3px 3px black;
}
.TextHeaderBox #headingDate
{
   font-size: 30px;
}
#Body
{
   height: auto;
   padding: 10px;
   background-color: #C4A4B4;
   margin-left: -0.6em;
}
p
{
   font-size: 15px;
}
article
{
   width: 40%;
   display: inline-block;
   vertical-align: top;
   padding: 10px;
   text-align: center;
}
#ArticlePar1
{
   text-align: center;
   font-weight: bold;
   font-size: 20px;
}
#ArticleImage1
{
   width: 90%;
   border: solid 0.5px black;
}
aside
{
   background-color: #F5E5E4;
   width:  50%;
   display: inline-block;
   margin-left: 50px;
   margin-top: 1%;
}
.ButtonHeading h2{
   text-align: center;
   font-size: 20px;
}
aside .item
{
   display: inline-table;
   padding-left: 10px;
   padding-bottom: 10px;
}
aside .item img
{
   border: 0.3em groove #C4A4B4;
   height: 160px;
}

footer
{
   background-color:#C4A4B4;
   width: auto;
   height: 40px;
   font-size: 5px;
   border-top: #e893a7 10px solid;
   border-bottom:#e893a7  10px solid ;
   border-right: #e893a7  10px solid ;
   border-left: #e893a7  10px solid;
   margin-left: -2em;
   margin-right: 0.8em;
}
#copyright
{
   float: right;
   padding-bottom: 25px;
   padding-right: 10px;
}