html 
{
    color:black;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.TextHeaderBox
{
    background-image: url(./Images/Image.png);
    width:100%;
    height: 500px;
    background-size:cover;
    background-position: center;
    opacity: 0.75;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: Goudy Old Style;
    display: inline-block;
}
#HeadingText
{
   font-size: 100px;
   text-align: center;
   margin-top: 200px;
   color: #0689cd;
   font-weight: bold;
}
#headingDate
{
   font-size: 60px;
   text-align: center;
   margin-bottom: 160px;
   color: #0689cd;
   font-weight: bold;
}
#Body
{
   width: 100%;
   height: auto;
   padding: 15px;
   background-color: #e893a7;
}
p
{
   font-size: 30px;
}
article
{
   width: 40%;
   height: 1100px;
   display: inline-block;
   vertical-align: top;
   padding: 15px;
   font-size: 25px;
   text-align: center;
}
#ArticlePar1
{
   text-align: center;
   font-weight: bold;
   font-size: 40px;
}
#ArticleImage1
{
   width: 90%;
   border: solid 1px black;
}
aside
{
   background-color: #F5E5E4;
   width:  52%;
   height: auto;
   display: inline-block;
   margin-left: 150px ;
   margin-top: 5%;
}
.ButtonHeading
{
   text-align: center;
   font-weight: bold;
   font-size: 25px;
   text-decoration: underline;
   font-weight: bold;
}
.Imagecontainer
{
   display: grid;
   grid-template-columns: auto  auto auto;
   grid-template-rows: auto auto auto;
   justify-items: center;
   justify-content: center;
   align-items: center;
   align-content: center;
}
.item
{
   text-align: center;
   padding: auto auto;
   font-size: 80px;
   margin: 20px;
   box-shadow: -3px 3px 3px 3px #e89d84;
   display: inline-table;
}
#Music
{
   background-color: #070816;
}
#story
{
   background-color: #f5f5f5;
}
#rsvp
{
   background-color: #f9eadf;
}
#snapshots
{
   background-color: rgb(209, 201, 195);
}
#venue
{
   background-color: #b2aaa7;
}
.buttonImages
{
   height: 250px;
}
footer
{
   background-color: #0689cd;
   width: auto;
   height: 90px;
   font-size: 23px;
   opacity: 0.75;
   margin: 0px;
}
#copyright
{
   float: right;
   padding-bottom: 25px;
   padding-right: 15px;
}
#Date
{
   margin: 0px;
   float: left;
   padding-left: 15px; 
   padding-top: 17px;  
}