*
{
  margin: 0;
  padding: 0;
}
body
{
  background-image: url(./Images/Heading\ Background.png); 
  background-size: 130%;
  height: 1000px;
}

header h1
{
  font-family: Old Standard TT Italic;
  text-align: center;
  color: #f5e5e4;
  font-size: 200%;
  padding: 1rem;
}
#Content
{
  width: 60%;
  height: 1000px;
  border: 5px solid #f5e5e4 ;
  box-shadow: #E893A7 2px 2px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  background-image: linear-gradient(#E893A7,#E89D84);
}

article
{
  width: 90%;
  height: 940px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border: 5px dotted #f5e5e4 ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

article h2
{
  font-family: Goudy Old Style;
  text-align: center;
  color: #f5e5e4;
  font-size: 150%;
  padding: 1rem;
}

.Songs
{
  font-family: Goudy Old Style;
  color: #f5e5e4; 
  font-size: 100%;
  margin-left: 5%;
  position: relative;
  top: 2.5em;
  text-decoration: underline;
}

.Audio
{
  float: right;
  margin-right: 5%;
  cursor: pointer; 
}

#HSongs
{
  position: relative;
  top: 5rem;
  left: 20%;
  text-decoration: underline;
}
fieldset
{
  position: relative;
  top: 5rem;
  width: 90%;
  margin: auto;
  border: 2px solid #f5e5e4 ;
  text-align: center;
  padding-top: 15px;
}
#Songlist{
  position: relative;
  width: 70%;
  margin: auto;
  border: 2px solid #f5e5e4 ;
  text-align: left;
}
footer
{
  text-align: center;
  font-size: 70%;
  padding-top: 1rem;
}

label
{
  color: #f5e5e4;
  width: 150px;
  display: inline-block;
  padding-bottom: 5px;
  text-align: right;
  padding-right: 15px;
}

button
{
  background-color: #E893A7;
  margin: 15px;
  padding: 8px;
  border-radius: 20%;
  border: 2px dotted #f5e5e4 ;
}

main
{
  width: 50%;
  height: 35%;
  border: 5px solid #f5e5e4 ;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  top: 15%;
  background-image: linear-gradient(#E89D84,#E893A7);
}

h4
{
  text-align: center;
  color: #f5e5e4;
  text-decoration: underline;
}

main p
{
  font-family: Arial, Helvetica, sans-serif;
  color: #f5e5e4;
  padding: 5px;
}
#musicContainer{
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
  border: 2px solid #f5e5e4;
  text-align: left;
  text-align: center;
}
#audioPlayer{
  padding-bottom: 15px;
}
legend{
  padding: 15px 15px 0px 15px;
  font-size: 18px;
  background-color: transparent;
  color: #f5e5e4;
  font-weight: bold;
}
#playlist li a{
  color: black;
}
#list{
  background-color: #f5e5e4;
  width: 90%;
  margin: auto;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 20px;
}
#playlist li{
  padding: 10px;
  text-align: left;
  margin-left: 35px;
} 
.song{
  padding: 5px;
}
.song{
  display: inline-block;
  vertical-align: top;
}
.title{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.image{
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}
.artist{
  font-size: 12px;
}
#instructions{
  text-align: left;
  padding: 10px;
  color: #f5e5e4;
  font-size: 17px;
}