#header{
    background-color: #e893a7;
    text-align: center;
    padding: 5em;
    background-image: url(Images/Flowers.png);
    background-repeat: no-repeat; 
    background-size: 100% 400%;  
    background-position: center;
}

body{
    background-color: #e89d84;
    background-image: url(Images/aaron-burden-FHWgqOniOSY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
.RSVP{
    float: left;    
    width: 49%;
    height: 20em;
    text-align: center;
    border: solid;
    padding-top: 7.5em;
    margin-top: 18px;
    background-color: #f5e5e4;
    background-image: url(Images/Image16.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    color: #f5e5e4;
}
.plusOne{
    display: inline-block;
    background-color: #f5e5e4;
    background-image: url(Images/friends.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 49%;
    height: 25em;
    text-align: center;
    border: solid;
    padding-top: 2.5em;
    margin-left: 1%;
    color: white;
}
.allergies{
    background-color: #f5e5e4;
    width: 100%;
    height: 18em;
    text-align: center;
    border: solid;
    padding-top: 2.5em;
    margin-top: 18px;
    background-image: url(Images/Food2.jpeg);
    color: #f5e5e4;
}
.allergies textarea{
    height: 12em;
    width: 20%;
    resize: none;
    background-color: #f5e5e4;
}
.registry{
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 2.5em;
    background-color: #f5e5e4;
    border: solid;
    background-image: url(Images/wedding_presents.jpg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    color: black;

}
.registry h3{
    margin-top: 20em;
}
.registry input{
    margin-bottom: 2em;
}
.kitchen{
    width: 25%;
    float: left;
    text-align: left;
    list-style-type: none;
    margin-top: 15px;  
}
.dining{
    width: 25%;
    float: left;
    text-align: left;
    list-style-type: none;
    margin-top: 15px;
}
.linen{
    width: 25%;
    float: left;
    text-align: left;
    list-style-type: none;
    margin-top: 15px;
}
.home{
    width: 25%;
    float: left;
    text-align: left;
    list-style-type: none;
    margin-top: 15px;
}
footer{
    color: white;
}
