header
{
  border-top: #e893a7 10px solid;
  border-bottom:#e893a7  10px solid ;
  border-right: #e893a7  10px solid ;
  border-left: #e893a7  10px solid;
  margin-left: -0.5em;
  margin-top: -0.5em;
  margin-right: -0.5em;
  width: auto;
  height: auto;
  position: relative;
}
#Container
{
  background-color: #C4A4B4;
}
#Container h1
{
  text-align: center;
  color: white;
  font-family: Goudy Old Style;
  font-size: 500%;
  margin-top: 2px;
  margin-bottom: 1px;
}
.Navi a
{
  color: #59108a;
  text-decoration: none;
  margin-bottom: 30px;
  margin-left: 50px;
  font-family: Goudy Old Style;
  font-weight: bold;
  font-style: italic;
  float: right;
  font-size: 250%;
  display: block;
}
nav
{
  text-align: center;
}
.Navi
{
  list-style: none;
  display: inline-block;
  margin-top: 20px;
}

#Contents
{
  background-color: #c4a4b4;
  height: auto;
  border-bottom:#e893a7  10px solid ;
  border-right: #e893a7  10px solid ;
  border-left: #e893a7  10px solid;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
#Contents .Box img
{
  width: 20em;
  height: 20em;
  border: 0.3em groove #C4A4B4;
  margin-right: 60px;
  margin-bottom: -0.2em;
  margin-top: 0.5em; 
  margin-left: 60px; 
}
#Contents .Box
{
  display: inline-table;
}
h4
{
  text-align: center;
  color: #59108a;
  font-size: 20px;
}
p
{
  color: black;
  font-family: Arial;
  font-size: 20px;
  margin: 20px;
}
