#header{
    background-color: #f5e5e4;
    text-align: center;
    padding: 5em;
}
#nav{
    overflow: hidden;
    background-color: #c4a4b4;
}
#nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin-left: 5px;
    padding: 14px 135px;
    text-decoration: none;
}
#nav a:hover{
    background-color: #e893a7;
    color: black;
}
.RSVP{
    background-color: #f5e5e4;
}
