body{
    background:url(./Images/aaron-burden-FHWgqOniOSY-unsplash.jpg) no-repeat;
    margin-bottom: 2em;
    font-family: Goudy Old Style;
    background-size:cover;
    background-position: center;
}
header
{
    height: auto;
    width: auto;
    border-top: #e893a7 10px solid;
    border-bottom:#e893a7  10px solid ;
    margin-top: -0.5em;
    background-color: #C4A4B4;
}
#branding
{
    display: inline-block;
    font-size: 120px;
    color: black;
    font-weight: bold;
    margin: 20px;
    margin-top: 20px;
}
nav
{
    display: inline-block;
    font-size: 60px;
    margin-left: 541px;
}
.current
{
    display: inline;
    padding-left: 15px;
    padding-bottom: 15px;
}
.current a{

    color:black;
    font-weight: bold;
    text-decoration: none;
}
.current a:hover{
    color: white;
}
#boxes .box img{
    width: 25em;
    height: 25em;
    border: 0.3em groove #C4A4B4;
    margin-right: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em; 
    margin-left: 0.1em; 
}
#boxes .box img:hover{
    border: 0.3em groove black;
}
#boxes .box{
    display: inline-table; 
}
footer
{
    background-color: #C4A4B4;
    width: auto;
    height: auto;
}
.Buttons
{
    text-align: center;
    padding: 15px 15px 15px 50px;
    margin-left: 45%;
    display: inline-block;
    border: 5px solid;
    border-radius: 50px;
    background-color: #f5e5e4;
}
#Upload
{
    overflow: hidden;
    color: black;
    font-size:20px;
    font-weight: bold;
}
#Submit
{
    margin-top: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#Cancel
{
    margin-top: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#writing
{
    float: right;
    font-size: 40px;
    padding: 15px;
    display: inline;
}