body{
    background:url(./Images/aaron-burden-FHWgqOniOSY-unsplash.jpg) ;
    object-fit: cover;
    font-family: Goudy Old Style;
}
header
{
    color: white;
    min-height: 3.4em;
    border: #e893a7 10px solid;
    margin-left: -0.5em;
    margin-top: -0.5em;
    margin-right: -0.5em;
}
header #branding
{
    font-size: 1em;
    color: black;
    font-weight: bold;
    display:inline-block;
}
nav
{
    float: right;
    padding-bottom: 10px;
    padding-top: 8px;
}
header li{
    float: left;
}

#boxes .box img{
    width: 20em;
    height: 25em;
    border: 0.3em groove #C4A4B4;
    margin-right: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em; 
    margin-left: 0.1em; 
    object-fit: cover;
}
#boxes .box img:hover{
    border: 0.3em dotted white;
}
#boxes .box{
    display: inline-table; 
}
footer
{
    width: auto;
    height: 100px;
    text-align: center;
}
.Button_1
{
    height: 3em;
    width: 30em;
    background-color: #b5b3b1;
    border: solid 0.5em;
    border-radius: 5em;
    padding-left: 2em;
    padding-right: 2em;
    color: whitesmoke;
    margin-top: 2em;
}
.Button_1:hover
{
    border: black solid 0.5em;
}