body
{
  background: url(./Images/aaron-burden-FHWgqOniOSY-unsplash.jpg) no-repeat;
  background-size: cover;
}

header h1
{
  font-family: Goudy Old Style;
  text-align: center;
  color: #f5e5e4;
  font-size: 200%;
}


nav
{
  text-align: center;
}
.Navi
{
  display: inline-block;
  list-style: none;
 
}

.Navi a
{
  text-decoration: none;
  color:  #f5e5e4;
  padding: 1rem;
}
 .container
 {
  padding: 2rem;
 }

 .sliderWrapper
{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.Slider
{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.Slider img
{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.Slider-Nav
{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.contents
{
   width: 70rem;
   height: auto;
   background-color: #e89d84;
   margin: auto;
   box-shadow: 5px 5px 10px  #bd7259 ;
   border-radius: 20px;
}

.artic
{
 padding-top: 5px;
 text-align: center;
 padding-bottom: 5px;
 padding-left: 10px;
 padding-right: 10px;
 color:   #f5e5e4;
 font-family: Arial, Helvetica, sans-serif;
}

.artic h4
{
  color: #f5e5e4;
  font-family: Goudy Old Style;
  font-style: italic;
  font-weight: lighter;
  font-size: 120%;
  text-decoration: underline;
}

footer
{
  text-align: center;
  font-size: 70%;
}
